#!/usr/bin/make -f

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build: Makefile
	rm -f debian/*.debhelper*
	dh_testdir
	$(MAKE)

Makefile: Makefile.in
	./configure --prefix=/usr --with-kmod=no

Makefile.in: Makefile.am configure.ac
	autoreconf -i --force

clean:
	dh_testdir
	dh_testroot
	dh_clean 

	$(MAKE) clean

install: build
	dh install --before dh_auto_configure
	dh install --after dh_auto_test

binary-indep: build install

binary-arch: build install
	rm -f debian/files
	dh binary --before dh_gencontrol
	if [ -f "../.VYATTA_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol ; \
	fi
	dh binary --after dh_gencontrol

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
